
<div >
	<div class="w-100 d-flex justify-content-center align-items-center" style="height: 550px">
		<div class=" mb-3 pt-5">
			<img src="https://res.cloudinary.com/drixwe3ie/image/upload/v1689442213/coffee-shop-circle-logo-ww1u6OsW_3o_wwcqca.jpg"
				 alt="Logo" class="img-fluid rounded-circle hero-logo" />
		</div>
	</div>	
</div>