@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<partial name="_Welcome" />

<div class="w-100 bg-black bg-opacity-50 text-center d-flex align-items-center" style="height:40px;">
    <div class="fs-4 fw-bold text-white m-auto" style="letter-spacing: .1em;">
        SCROLL DOWN TO SEE OUR MENU
    </div>
</div>

<partial name="_Menu" model="Model" />


