@{
    ViewData["Title"] = "Home Page";
}

@model HomeViewModel

<partial name="_Welcome" />

<div class="w-100 p-2 text-center bg-black bg-opacity-25 position-relative" style="height:40px;">
    <div class="fs-4 fw-normal text-white" style="letter-spacing: .1em;">
        SCROLL DOWN TO SEE OUR MENU
    </div>
</div>

<partial name="_Menu" model="Model" />


