<div class="container mt-5 pt-5">
	<h4 class="mt-5 pt-5">@ViewBag.CancelCompleteMessage</h4>
	<div class="mt-4 fs-4 fw-bold"><a asp-controller="Home" asp-action="Index">Go back to menu.</a></div>
</div>