@model OrderDTO

<div class="container mt-5 pt-5">
    @if (Model == null)
    {
        <div class="mt-5 pt-5">
            You have no pending order. Please see our <a asp-controller="Home" asp-action="Index">Menu</a>
        </div>
    }
    else
    {
        <div class="mt-5 pt-5">
            <h2 class="fw-bolder">Your Order</h2>
            <div>
                <table class="table table-bordered table-striped mt-3">
                    <thead>
                        <tr>
                            <th>Order Date</th>
                            <th>Order Number</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">Customer Phone Number</th>
                            <th class="text-right">Customer Name</th>
                        </tr>
                    </thead>
                    <partial name="_OrderRow" model="Model" />
                </table>

                <div class="mt-4 d-flex flex-row justify-content-between align-items-center w-100">
                    <div class="text-center">
                        <a class="btn btn-primary" asp-controller="Order" asp-action="CheckoutComplete">Complete Order</a>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary" asp-controller="Order" asp-action="CancelOrder"
                       asp-route-id="@Model.Id">Cancel Order</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>